<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="\static\styles.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>{% block tittle %}{% endblock %}</title>
  </head>
  
  <body>
    <nav id="navBar" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand">
          <img src="\static\pencil-svgrepo-com.svg" alt="" width="45" height="32" class="d-inline-block align-text-top">
          MyToDoList
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbar">
            <div class="navbar-nav">
                {% if user.is_authenticated %}
                <a class="nav-item nav-link {% if request.endpoint == 'view.home' %}active{% endif %}" id="home" href="{{ url_for('view.home') }}">Home<span class="sr-only"></span></a>
                <a class="nav-item nav-link {% if request.endpoint == 'view.archive' %}active{% endif %}" id="archive" href="{{ url_for('view.archive') }}">Archive</a>
                <a class="nav-item nav-link {% if request.endpoint == 'login.logout' %}active{% endif %}" id="logout" href="{{ url_for('login.logout') }}">Logout</a> 
                {% else %}
                <a class="nav-item nav-link {% if request.endpoint == 'login.signUp' %}active{% endif %}" id="signUp" href="{{ url_for('login.signUp') }}">SignUp</a>
                <a class="nav-item nav-link {% if request.endpoint == 'login.login' %}active{% endif %}" id="login" href="{{ url_for('login.login') }}">Login</a>
                {% endif %}
                
            </div>
        </div>
        <button class="btn btn-light bi-moon-fill" style="margin-right: 13px;" id="toggleDark"></button>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true)%}
    {% if messages %}
        {% for category, message in messages %}
        {% if category == "error" %}
        <div id="alertFlash" class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% else %}
        <div id="alertFlash" class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endif %}
        {% endfor %}
    {% endif %}
    {% endwith %}
   
    <div class="container-md py-5">
      <main>
      {% block main %}
      {% endblock %}
      </main>
    </div>
    <footer id="footer" class="fixed-bottom flex-shrink-0 py-3 bg-dark text-white-50">
        <div class="container text-center">
          <small style="color: black;">Copyright &copy; MyToDoList</small>
        </div>
    </footer>
    <script>
      window.setTimeout("document.getElementById('alertFlash').style.display='none';", 3000);
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="\static\scripts.js"></script>
  </body>
</html>